<h1>Listing books</h1>

<table>
  <thead>
    <tr>
      <th>Nombre del libro</th>
      <th>Autor</th>
      <th>Editorial</th>
      <th>Idioma</th>
      <th>Foto</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.nombre_del_libro %></td>
        <td><%= book.autor %></td>
        <td><%= book.editorial %></td>
        <td><%= book.idioma %></td>
        <td><%= book.foto %></td>
        <td><%= book.precio %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
