<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre del libro:</strong>
  <%= @book.nombre_del_libro %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.autor %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>

<p>
  <strong>Idioma:</strong>
  <%= @book.idioma %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @book.foto %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @book.precio %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
